.create-post-card {
    margin: 5px 0px 20px 0px;
    padding: 10px 10px 10px 10px;
    width: 100%;
    box-shadow: 2px 2px 4px 4px rgba(75,75,75,0.15);
    border-radius: 5px;
}
.post-title-input {
    margin-top: 5px;
    padding: 15px 15px 15px 15px;
    border-radius: 5px;
    width: 100%;
    height: auto;
    border: none;
    background-color: #EEE;
}
.post-title-input::placeholder {
    text-decoration: none;
    color : #757575;
}
.post-title-input:focus {
    outline: none;
}
.create-post-input {
    padding: 15px 15px 15px 15px;
    border-radius: 5px;
    width: 100%;
    height: 100px;
    border: none;
    background-color: #EEE;
    resize: none;
}
.create-post-input::placeholder {
    text-decoration: none;
    color : #757575;
}
.create-post-input:focus{
    outline: none;
}
.add-photo-btn {
    margin-top: 10px;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: #F6F7FB;
}
.add-photo-btn:focus {
    outline: none;
}
.create-post-btn {
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    color: white;
    margin-left: 60%;
    background-color: #EB4E6F;
}
.create-post-btn:focus {
    outline: none;
}
.post-card {
    margin: 5px 0px 20px 00px;
    padding: 30px 40px 30px 40px;
    width: 100%;
    box-shadow: 2px 2px 4px 4px rgba(75,75,75,0.15);
    border-radius: 5px;
}
.post-profile-name {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 18px;
}
.post-time {
    color: gray;
    margin-top: 10px;
    right: 120px;
    position: absolute;
}
.post-pic {
    width: 100%;
    height: auto;
}
.post-title {
    margin-left: 20px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
}
.post-caption {
    margin-left: 20px;
    font-size: 16px;
    text-align: justify;
    width: 93%;
}
.like-btn {
    padding: 0px 20px 0px 20px;
    text-decoration: none;
    color: #757575;
    font-size: 18px;
}
.like-btn:hover {
    text-decoration: none;
    color: #597DFF;
}
.view-comments {
    margin-left: 3%;
}
.comment-input {
    margin-left: 3%;
    padding: 10px 10px 10px 10px;
    border-radius: 7px;
    width: 85%;
    height: auto;
    border: none;
    background-color: #EEE;
}
.comment-input:focus {
    outline : none;
}
